@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    font-family: 'Genos', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: yellowgreen;
}

h1 {
    color: yellowgreen;
    font-size: 60px;
    text-align: center;
}

.comparador-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 600px;
    background-color: black;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    align-items: center;
    color:yellowgreen;
    justify-content: center;
}

.n1 { 
    width: 300px;
    height: 50px;
    border: 2px solid yellowgreen;
    border-top: 2px solid yellowgreen;
    border-radius: 5px;
    background-color:black;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    color: yellowgreen;

}

.n2 { 
    width: 300px;
    height: 50px;
    border: 2px solid yellowgreen;
    border-top: 2px solid yellowgreen;
    border-radius: 5px;
    background-color:black;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: yellowgreen;

}
.botao, .botao {
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid yellowgreen;
    border-top: 2px solid yellowgreen;
    border-radius: 5px;
    background-color:black;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: yellowgreen;

}




